<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341200904073-7l60seoc66vodocsj2kng9lt2gekko7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341200904073-7l60seoc66vodocsj2kng9lt2gekko7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>341200904073-246btjlp9nee8tbim8guevsohll1fuvi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhArHOhQU0qzBhiuUtSiFoVdbwUbXf6aM</string>
	<key>GCM_SENDER_ID</key>
	<string>341200904073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.ifba.SpO2</string>
	<key>PROJECT_ID</key>
	<string>spo2-ea49f</string>
	<key>STORAGE_BUCKET</key>
	<string>spo2-ea49f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341200904073:ios:58aa4ad9d71041893a8b58</string>
	<key>DATABASE_URL</key>
	<string>https://spo2-ea49f.firebaseio.com</string>
</dict>
</plist>